.hero {
    background-color: var(--primary-color);
    color: #fff;

    .container {
        display: flex;
        align-items: center;
    }

    .left {
        flex: 1;

        h1 {
            font-size: 5rem;
            font-weight: 700;

            i {
                font-weight: 300;
                font-style: italic;
            }
        }
    }

    .search {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
    }

    .icon {
        img {
            width: 2rem;
            height: 2rem;
            margin: 0 15px 0 10px;
        }
    }

    .search {
        margin-top: 30px;
        margin-bottom: 30px;

        &-input {
            padding: 16px 16px 16px 0;
            flex: 1;
            border: none;
            outline: none;

            &::placeholder {
                color: gray;
            }
        }
        &-btn {
            align-self: stretch;
            padding: 0 36px;
            background-color: var(--light-green-color);
            color: #fff;
            font-size: 1.333rem;
        }
    }
    .popular {
        display: flex;
        align-items: center;
        gap: 10px;
        &-btn {
            width: max-content;
            color: white;
            border: 1px solid white;
            padding: 5px 10px;
            border-radius: 20px;
            background-color: transparent;
            font-size: 14px;
            cursor: pointer;
        }
    }

    .right {
        width: 43%;
    }
}
